<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Générateur ASCII Art Web</title> 
    <link rel="stylesheet" type="css" href="style.css">
</head>
<body>

    <h1>Générateur ASCII Art Web</h1>

    {{if .Error}}
    <p class="error">Erreur ❌: {{.Error}}</p>
    {{end}}
    <form action="/" method="POST">
        
        <label for="input-text">Tape ton texte ici :</label><br>
        
        <textarea id="input-text" name="input_text">{{.Input}}</textarea><br>
        <label for="alphabet_choisi">Choix de la bannière :</label>
        
        <select id="alphabet_choisi" name="alphabet_choisi">
            <option value="standard" {{if eq .Alphabet "standard"}}selected{{end}}>standard</option>
            <option value="shadow" {{if eq .Alphabet "shadow"}}selected{{end}}>shadow</option>
            <option value="thinkertoy" {{if eq .Alphabet "thinkertoy"}}selected{{end}}>thinkertoy</option>
        </select>
        <br><br>
        <button type="submit">Générer l'ASCII Art</button>
    </form>

    <hr>
    
    <h2>Résultat :</h2>
    {{if .InputIsEmpty}}
        <img src="/assets/{{.RandomImage}}"
            class="placeholder-image">
    {{else}}
        <pre>{{.Result}}</pre>
    {{end}}
    </body>
</html>